* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    outline:none;
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
:root{
    --pink:#E69FCA;
    --dark:#b41258;
    --black:#000; 
    --gray:rgb(229, 226, 226);
}
#menu-btn{
    display: none;
    cursor: pointer;
    font-size: 3rem;
    padding: 2rem 3rem;
    color: var(--dark);
}
html{
    font-size:1.1em;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}   

html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

/* Header Start*/
header{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 5%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    border-bottom: 0.1em solid var(--pink);
}
.header .logo img {
    height:8rem;
}
.header .navbar a{
    margin:0 1rem;
    font-size:2rem;
    color:var(--pink)
}
.header .navbar a:hover{
    text-shadow:1px 2px var(--dark);
}
/* Header Finish*/

/* Home Start*/
span{
    text-transform: uppercase;
    font-weight: 100;
    color: var(--dark);
}
.home{
    display: flex;
    min-height:100vh;
    background-color: var(--gray);
    align-items: center;
    border-bottom: 1px solid var(--pink);
}

.home .h-content{
    max-width:60rem;
    position: relative;
}
.home .h-content h3{
    padding-left: 1.7em;
    font-size:5rem;
    color:var(--pink);
    text-transform: uppercase;
    font-weight: 100;
}
.home .h-content p {
    padding-left: 8em;
    color:var(--dark);
    text-transform: uppercase;
    font-size:2rem;
    font-family: 'Dancing Script', cursive;
}
.h-content p .second:before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--gray);
    border-left: 2px solid var(--dark);
    animation: animate 4s steps(15) infinite;
}

@keyframes animate{
    40%, 60%{
        left: 100%;
    }
    100%{
        left:0%;
    }
} 

.home img{
    background-repeat: no-repeat;
    position: relative;
    padding-top: 8.5rem;
    left: 6rem;
    width:55%;
}

 /*Home Finish*/

/* About Start */

.about{
    padding:2rem 3em;
    background-color: var(--gray);
    align-items: center;
}
.about .head{
    text-align: center;
    font-size:5rem;
    padding-bottom: 2rem;
    color:var(--pink);
    text-transform: uppercase;
    font-weight: 100;
}
.about .row{
    display:flex;
    align-items: center;
    flex-wrap:wrap;
    background-color: var(--pink);
}

.about .row .image{
    flex:1 1;
}

.about .row .image img{
    width:90%;
    padding-top: 5px;
}

.about .row .content{
    flex:1.1 1;
    padding:2rem;
    color:#fff;
}
.about .row .content h3{
    font-size:4rem;
    text-align: center;
    padding-bottom: 3rem;
    font-family: 'Dancing Script', cursive;
}
.about .row .content p{
    font-size:2rem;
    text-align: center;
    padding:1rem;
    position: inherit;
    right: 1rem;
    line-height: 1.8;
}
.about{
    border-bottom: 1px solid var(--pink);
}

/* Portfolio Start */

.portfolio{
    background-color: var(--gray);
    padding:2rem 3em;
    border-bottom: 1px solid var(--pink);
}
.portfolio .heading{
    text-align: center;
    font-size:5rem;
    padding-bottom: 2rem;
    color:var(--pink);
    text-transform: uppercase;
    font-weight: 100;
}
.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    grid-gap:4rem;
    width:100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 6rem;
}
.project-image{
    height:calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}
.project-title{
    font-size: 2rem;
    padding: 2.3rem 1rem;
    background-color: var(--pink);
    color: #fff;
}
img{
    display: block;
}
.project{
    background: var(--gray);
    box-shadow: 5px 13px 18px var(--dark);
    border-radius: 2px;
    text-align: center;
}
/* Certificates Start */

.certificates{
    background-color: var(--gray);
    padding:2rem 3em;
    border-bottom: 1px solid var(--pink);
}
.certificates .heading{
    text-align: center;
    font-size:5rem;
    padding-bottom: 2rem;
    color:var(--pink);
    text-transform: uppercase;
    font-weight: 100;
}
.certificates-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    grid-gap:4rem;
    width:100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 6rem;
}
.certificate-title{
    font-size: 2rem;
    padding: 2.3rem 1rem;
    background-color: var(--pink);
    color: #fff;
}
.certificate-image{
    height:calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}
img{
    display: block;
}
.certificate{
    background: var(--gray);
    box-shadow: 5px 13px 18px var(--dark);
    border-radius: 2px;
    text-align: center;
}

/* Contact Start */

.contact{
    background-color: var(--gray);
    padding:2rem 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
}

.contact .heading{
    text-align: center;
    font-size:5rem;
    padding-bottom: 2rem;
    color:var(--pink);
    text-transform: uppercase;
    font-weight: 100;
}
.contact-details{
    font-size: 2.2rem;
    border: 1px solid var(--dark);
    background-color: var(--pink);
    color: #fff;
    padding: 1rem;
    text-shadow: 2px 2px 1px var(--dark);
}
.contact p{
    font-size: 2rem;
    padding-top: 3rem;
    color: #fff;
}

/* Contact Finish */

/* Footer Start */

footer{
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: var(--gray);
    border-top: 4px solid var(--dark);
}
footer p{
    font-size: 2rem;
    color: #fff;
}
footer a{
    font-size: 2rem;
    color: #fff;
}

/* Footer Finish */

/* Media Queries */
@media (max-width:1600px){
    html{
        font-size: 80%;
    }
    .about .row{
        display: grid;
    }
    .about .row .image img{
        width:100%;
        padding-top:0 ;
    }
}
@media (max-width:1200px){
    .home img{
        width: 70%;
        left: 8rem;
    }
    header{
        padding:1em;
    }
}

@media (max-width:991px){
    html{
        font-size:70%;
    }
    .home .h-content{
        right: 2rem;
    }
    .home .h-content h3{
        font-size: 4rem;
        padding-right: 2rem;
    }
    .home .h-content p{
        font-size: 2rem;
        padding-right: 2rem;
    }

}
@media (max-width:768px){
    #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 98%;
        right: -100%;
        background: var(--pink);
        width: 30rem;
        height: calc(65vh - 7rem);
    }
    .header .navbar a{
        color:#fff;
        display:block;
        margin:1.2rem;
        padding:3rem;
        font-size:2rem;
        border-bottom: 1px var(--dark) solid;
    }
    .header .navbar.active{
        right: 0;
        margin-top: 0.5rem;
    }
    html{
        font-size:60%;
    }
    .home img{
        display: none;
    }
    .home .h-content h3{
        font-size: 4rem;
    }
    .home .h-content p{
        font-size: 2rem;
    }
    .contact-details{
        font-size:3rem;
        display: block;
    }
    .contact a{
        margin-top: 2rem;
    }
    .contact p{
        font-size: 3rem;
    }
}
